// =============================================================================
// Variables
// =============================================================================

$container: 60rem;
$breakpoint: 48rem;
$gutter: .5rem;